@import url(./__logo/header__logo.css);
@import url(./__sign-out/header__sign-out.css);
@import url(./__panel-elem/header__panel-elem.css);
@import url(./__panel/header__panel.css);

.header {
  margin-top: 0px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .header {
    margin-top: 38px;
    padding-bottom: 31px;
  }
}

