.popup__button-save_inactive {
  color: #B8B8B8;
  background: #E5E5E5;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-color: #E5E5E5;
  border-right-color: #E5E5E5;
}
